body {
	background-color: #2b2b2b;
	font-family: Arial;
	display: flex;


}

body{
	font-family: Arial;
	background: #2b2b2b;
	display: flex;
}
.slider{
	width: 500px;
	height: 300px;
	margin: 100px auto;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}
.img{
	text-align: center;
	line-height: 300px;
	position: absolute;
	font-size: 50px;
	color: #fff;
	display: none;
}
.img.curry{
	display: block;
}
.img:first-child{
	width: 500px;
	background: #F9004F;
}
.img:nth-child(2){
	width: 500px;
	background: #33D5B6;
}
.img:nth-child(3){
	width: 500px;
	background: #F9F00C;
}
.img:nth-child(4){
	width: 500px;
	background: #00EAAC;
}
.img:nth-child(5){
	width: 500px;
	background: #B95FE9;
}
.n{
	color: #575757;
}
a{
	text-decoration: none;
	color: #FF2ABC;
	font-size: 20px;
}
a:hover{
	color: #39E1CD;
}
.prev{
	position: relative;
	top: 240px;
	left: 340px;
	
}
.next{
	position: relative;
	top: 240px;
	right: 340px;
}




































